<!DOCTYPE html>
<html>
<head>
    <title>Mind Matching Feedback</title>
    {% include 'head.html' %}
</head>

<body>

<div class="container">




    <h1><b>Feedback Form: CCN 2019 Mind-Match</b></h1>
    This is a feedback form for CCN Mind-Matching 2019.
    For each match, you can rate <br/>
    (1) satisfaction of the match you get<br/>
    (2) research relevance in the scale 1 to 5.<br/>
    where 1 means the least satisfactory or least relevance and 5 means highly satisfactory or highly relevance.
    We also include a box that you can check if you know the matched before before.

    <hr/>
    <p>
        <b>Your information:</b> <br/>
        <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ full_name }} <br/>
        <i class="fa fa-university" aria-hidden="true"></i> {{ affiliation }} <br/>
        <i class="fa fa-id-card-o" aria-hidden="true"></i> {{ registrant_id }} (registration id)
        <hr/>
    </p>


    <form action="{{ url_for('handle_submit') }}" method="post">
        {% for i, match_dict in enumerate(matches_info) %}
            <b>Mind Match {{i + 1}}: </b>
            {{match_dict.full_name}}, {{match_dict.affiliation}},
            <i class="fa fa-envelope-o" aria-hidden="true"></i> {{match_dict.email}}
            <br/>
            <div class="row">
              <div class="col-sm-6 label">
                  Research Relevance:
              </div>
              <div class="rating col-sm-6 label">
                  <span>1</span>
                  <span><input type="radio" name="relevance_{{i}}" id="str5" value="1"><i class="fa fa-star-o"></i></span>
                  <span><input type="radio" name="relevance_{{i}}" id="str4" value="2"><i class="fa fa-star-o"></i></span>
                  <span><input type="radio" name="relevance_{{i}}" id="str3" value="3"><i class="fa fa-star-o"></i></span>
                  <span><input type="radio" name="relevance_{{i}}" id="str2" value="4"><i class="fa fa-star-o"></i></span>
                  <span><input type="radio" name="relevance_{{i}}" id="str1" value="5"><i class="fa fa-star-o"></i></span>
                  <span>5</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 label">
                  Satisfaction:
              </div>
              <div class="rating col-sm-6 label">
                  <span>1</span>
                  <span><input type="radio" name="satisfactory_{{i}}" id="str5" value="1"><i class="fa fa-star-o"></i></span>
                  <span><input type="radio" name="satisfactory_{{i}}" id="str4" value="2"><i class="fa fa-star-o"></i></span>
                  <span><input type="radio" name="satisfactory_{{i}}" id="str3" value="3"><i class="fa fa-star-o"></i></span>
                  <span><input type="radio" name="satisfactory_{{i}}" id="str2" value="4"><i class="fa fa-star-o"></i></span>
                  <span><input type="radio" name="satisfactory_{{i}}" id="str1" value="5"><i class="fa fa-star-o"></i></span>
                  <span>5</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 label">
                  Did you know the person before the session?
              </div>
              <div class="col-sm-6">
                  <input type="checkbox" name="coi_{{i}}" value="{{i}}" id="mind_match_{{i}}">
                  <span class="checkmark"></span>
              </div>
            </div>
            <hr/>
        {% endfor %}

        <div class="submit-button-wrapper">
            <input type="hidden" name="registrant_id" value="{{registrant_id}}">
            <input type="submit" class="override-button-font override-button-size btn btn-warning" value="Submit" name="submitbtn">
        </div>

    </form>
    <br/>
</div>

{% include 'footer.html' %}

<style>
.rating {
    float:left;
    width:300px;
}
.rating span { position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating .fa-star {
  color: orange;
}
.rating i, .rating input, .rating span {
  font-size: 1.4em;
  width: 1.4em;
  height: 1.4em;
  text-align: center;
}
/* input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: relative;
  height: 25px;
  width: 25px;
  background-color: #eee;
} */
</style>

<script>
  $(document).ready(function(){
      // Check Radio-box
      $(".rating input:radio").attr("checked", false);

      $('.rating input').click(function () {
          // reset all items of this select group in a row to unchecked
          $(this).parent().parent().children().map((_, e) => {
            // span
            $(e).removeClass('checked');

            // input
            $(e).children('input').attr("checked", false);

            // stars
            $(e).children('i').removeClass('fa-star');
            $(e).children('i').addClass('fa-star-o');
          });

          // set checked for span and input
          $(this).parent().addClass('checked');
          $(this).attr("checked", true);

          // set checked on star
          $(this).siblings().removeClass('fa-star-o');
          $(this).siblings().addClass('fa-star');
      });

      $('input:radio').change(
        function(){
          var userRating = this.value;
      });
  });
</script>

</body>
</html>