<!DOCTYPE html>
<html>
<head>
    <title>Mind Matching Feedback Form</title>
    {% include 'head.html' %}
</head>
<body>

<div class="container">
    <h1><b>Thank you! <br/>You've completed CCN Mind-Matching 2019 feedback form!</b></h1>

    <p>
        The individual data will not be shared elsewhere. 
        We only collect the data to improve our algorithm in the next year and share the analysis of the data with you and organizers.<br/><br/>

        We are really appreciate for your participation. This will improve the conference and neuroscience community in the future!<br/>

        <br/>
        - <i>Konrad Kording, Titipat Achakulvisut, and CCN organizers</i>
        <hr>
    </p>
</div>

{% include 'footer.html' %}

</body>
</html>